In [1]:
import sys
import os
import pandas as pd

ROOT_DIR = os.path.abspath(os.path.join('..'))
DATA_RAW_PATH = os.path.join(ROOT_DIR, 'raw', 'messy_student_scores_500.csv')
DATA_PROCESSED_PATH = os.path.join(ROOT_DIR, 'data', 'processed', 'cleaned_exam_data.csv')

sys.path.append(os.path.join(ROOT_DIR, 'src'))
from date_utils import enrich_exam_date_column

In [2]:
df = pd.read_csv(DATA_RAW_PATH)
print(f"원본 데이터 크기: {df.shape}")
df.head()

원본 데이터 크기: (500, 6)

    이름      나이    성별           점수            시험일      비고
0  NaN    0x1d     남          NaN     19.09.1979     NaN
1  서정남  twenty  male          59점            NaN     NaN
2  김영자     NaN  male  ninety-five            NaN       .
3  NaN     10세  male         none     10-06-1980  retake
4  김재호     NaN     m          90점  1979년 05월 16일      없음

In [4]:
df = enrich_exam_date_column(df)

df[['시험일', '시험일_정제', '요일', '응시_주차', '응시_월', '주말여부']].sample(5)

             시험일     시험일_정제         요일  응시_주차  응시_월   주말여부
482  Dec/29/1989 1989-12-29     Friday     52  12.0  False
432   1990/05/04 1990-05-04     Friday     18   5.0  False
256   18.06.2003 2003-06-18  Wednesday     25   6.0  False
7    Oct/25/1987 1987-10-25     Sunday     43  10.0   True
218          NaN        NaT        NaN   <NA>   NaN  False

In [6]:
print('날짜 정제 실패 (NaT):', df['시험일_정제'].isna().sum())

print('요일 분포: ')
print(df['요일'].value_counts())

날짜 정제 실패 (NaT): 127
요일 분포:
요일
Monday       61
Saturday     58
Friday       55
Sunday       55
Wednesday    49
Thursday     48
Tuesday      47
Name: count, dtype: int64

In [8]:
os.makedirs(os.path.join(ROOT_DIR, 'data', 'processed'), exist_ok=True)

df.to_csv(DATA_PROCESSED_PATH, index=False)
print(f"정제된 데이터 저장 완료: {DATA_PROCESSED_PATH}")

정제된 데이터 저장 완료: c:\Users\sbeep\Desktop\DataAnalysis\MIni_Projects\Messy_Score_Lab\data\processed\cleaned_exam_data.csv